<div class="list">
    <a class="item item-avatar" href="#" ng-repeat="message in incomingMessages" ng-click="openMessage(message)">
      <img ng-src="http://graph.facebook.com/{{ message.from }}/picture?width=270&height=270">
      <h2>{{ message.fromName }}</h2>
      <p>{{ message.track.name }}</p>
      <p>{{ message.track.artist }}</p>
    </a>
</div>

<div class="tabs tabs-icon-only">
  <a class="tab-item" ui-sref="inbox">
    <i class="icon ion-email"></i>
  </a>
  <a class="tab-item" ui-sref="search">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>