<div class="bar bar-header bar-stable">
  <h1 class="title"><img src="/img/Vingle_logo_turquoise.svg"></h1>
</div>
<div class="header-margin">
  <div class="half button box-btn box-choosen" ng-click="changeState('inbox')">
    <p class="text-center">
      Received
    </p>
  </div>
  <div class="half button box-btn" ng-click="changeState('outbox')">
    <p class="text-center">
      Sent
    </p>
  </div>
</div>
<div class="header-margin">
  <div class="list">
      <a class="item item-avatar" href="#" ng-repeat="message in incomingMessages" ng-click="openMessage(message)">
        <img ng-src="http://graph.facebook.com/{{ message.from }}/picture?width=270&height=270">
        <h2>{{ message.fromName }}</h2>
        <p>{{ message.track.name }}</p>
        <p>{{ message.track.artist }}</p>
      </a>
  </div>
</div>

<div class="tabs tabs-icon-only">
  <a class="tab-item" ui-sref="inbox">
    <i class="icon ion-email"></i>
  </a>
  <a class="tab-item" ui-sref="search">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>
