<div class="bar bar-header bar-stable">
  <a class="button icon-left ion-chevron-left button-clear button-dark pull-left" ng-click="goToSearch()"></a>
  <h1 class="title"><img src="/img/Vingle_logo_turquoise.svg"></h1>
</div>
<div class="header-margin">
  <div id="sketch-container" class="sketch-container">
      <p5 id="sketch" sketch="mySketch"></p5>
  </div>
  <div class="playback-info">
    <div class="half">
      <h5>
        {{ track.name }}
      </h5>
    </div>
    <div class="half">
      <h5 style="text-align:right;">
        {{ timeLeft }}s
      </h5>
    </div>
  </div>
</div>
<div class="bar bar-footer">
  <a ng-if="!music.playing()" class="ion-play draw-media-button" ng-click="music.play()"></a>
  <a ng-if="music.playing()" class="ion-pause draw-media-button" ng-click="music.pause()"></a>
  <audio id="audioDraw" src="{{track.preview_urlTrusted}}" autoplay="false"></audio>
</div>
