<div class="bar bar-header bar-stable">
  <a class="button icon-left ion-chevron-left button-clear button-dark pull-left" ng-click="goToSearch()"></a>
  <h1 class="title"><img src="/img/Vingle_logo_turquoise.svg"></h1>
</div>
<div class="header-margin">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="searchQuery">
  </label>
  <a class="send item" ng-repeat="friend in friends" ng-click="chooseFriend(friend)">
    <div class="item-avatar col-90">
      <img ng-src="http://graph.facebook.com/{{friend.id}}/picture?width=270&height=270">
      <h2 style="text-align: left;">
        {{friend.name}}
      </h2>
      <p></p>
    </div>
    <div class="col-10">
      <label class="checkbox">
        <input type="checkbox" ng-model="friend.choosen">
      </label>
    </div>
  </a>
</div>
<div class="bar bar-footer">
  <div class="pull-left">
    <img ng-repeat="friend in choosenFriends | limitTo: 4" ng-src="http://graph.facebook.com/{{friend.id}}/picture?width=270&height=270" class="pull-left choosen-friend">
  </div>
  <button class="button button-clear pull-right ion-android-send" ng-click="send()"></button>
</div>
