<div class="list">
    <a class="item item-thumbnail-left" href="#" ng-repeat="message in sentMessages" ng-click="openMessage(message)">
      <img ng-src="{{ message.track.img}}">
      <h2> {{ message.track.name }} </h2>
      <p> {{ message.track.artist }} </p>
      <img ng-repeat="friend in sentMessages | limitTo: 6" ng-src="http://graph.facebook.com/{{friend.id}}/picture?width=270&height=270" class="pull-left choosen-friend">
    </a>
</div>

<div class="tabs tabs-icon-only">
  <a class="tab-item">
    <i class="icon ion-email"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>

<div class="pull-left">
    
</div>