/* Empty. Add your own CSS if you like */
/*
 *  SEND
 */
.send>.item-avatar{
  min-height: 0;
}
.col-90{
  width: 90%;
  float: left;
}
.col-10{
  width: 10%;
  float: left;
}
.choosen-friend{
  border-radius: 100%;
  width: 25px;
  float: left;
}

/*
 *  LOGIN
 */
.login-container{
  padding-top: 10%;
  background-image: url('/img/Vingle_sign_up_bg.jpg');
  background-size: cover;
}
.login-info-text{
  width: 80%;
  margin: 0 auto;
}
.login-button-container{
  width: 80%;
  max-width: 400px;
  min-height: 100px;
  margin: 50% auto;
  bottom: 10%;
  /*left: auto;*/
  /*right: auto;*/
  /*position: absolute;*/
  cursor: pointer;
}
.login-button{
  width: 100%;
  margin: 0 auto;
}
>>>>>>> f3ac1ceadceafd7fddafd15e1c0387234a2c4f19
