/* Empty. Add your own CSS if you like */
/*
 *  SEND
 */
.send>.item-avatar{
  min-height: 0;
}
.col-90{
  width: 90%;
  float: left;
}
.col-10{
  width: 10%;
  float: left;
}
.choosen-friend{
  border-radius: 100%;
  width: 25px;
  float: left;
}
