.title>img{
  height: 100%;
}
.header-margin{
  margin-top: 44px;
}
.header-margin2{
  margin-top: 88px;
}
.half{
  float: left;
  width: 50%;
}
/*
 *  SEND
 */
.send>.item-avatar{
  min-height: 0;
}
.col-90{
  width: 90%;
  float: left;
}
.col-10{
  width: 10%;
  float: left;
}
.choosen-friend{
  border-radius: 100%;
  width: 25px;
  float: left;
  margin-right: 1vw;
}

/*
 *  LOGIN
 */
.login-container{
  padding-top: 10%;
  background-image: url('/img/Vingle_sign_up_bg.jpg');
  background-size: cover;
}
.login-info-text{
  width: 80%;
  margin: 0 auto;
}
.login-button-container{
  width: 80%;
  max-width: 400px;
  min-height: 100px;
  margin: 50% auto;
  bottom: 10%;
  cursor: pointer;
}
.login-button{
  width: 100%;
  margin: 0 auto;
}
/*
 *  DRAW
 */
.draw-media-button{
  font-size: xx-large;
}
/*
 *  BOX
 */
.box-btn{
  background-color: rgba(248, 248, 248, 0.26);
}
.box-choosen{
  background-color: rgba(31, 190, 187, 0.18);
}
